
.undo, .redo, .bold, .italic, .underline, .smiles, .unformat, .alignment, .hyperlinks, .text, .images, .contentscreen, .h3, .h2, .h1, .ul, .ol, .align-left, .align-center, .align-right, .indent, .outdent, .color, .font-color-indicator, .background-color-indicator, .increase-editor-height, .decrease-editor-height, .increase-font-size, .decrease-font-size {
    background: url('../images/sprites_24_p2.png') no-repeat;
    width: 24px;
    height: 24px !important;
    margin: 0 6px;
}

.undo {
    background-position: 0px -24px;
    margin-top: 2px;
}

.undo:hover {
    background-position: 0px -48px;
}

.redo {
    margin-top: 2px;
    background-position: 0px -96px;
}

.redo:hover {
    background-position: 0px -120px;
}

.bold {
    background-position: 0px -888px;
}

.bold:hover {
    background-position: 0px -912px;
}

.editor_button.active .bold {
    background-position: 0px -936px;
}

.editor_button.active .bold:hover {
    background-position: 0px -960px;
}

.italic {
    background-position: 0px -1008px;
}

.italic:hover {
    background-position: 0px -1032px;
}

.editor_button.active .italic {
    background-position: 0px -1056px;
}

.editor_button.active .italic:hover {
    background-position: 0px -1080px;
}

.underline {
    background-position: 0px -1128px;
}

.underline:hover {
    background-position: 0px -1152px;
}

.editor_button.active .underline{
    background-position: 0px -1176px;
}

.editor_button.active.underline:hover {
    background-position: 0px -1200px;
}

.h3 {
    background-position: 0px -1248px;
}

.h3:hover {
    background-position: 0px -1272px;
}

.editor_button.active .h3 {
    background-position: 0px -1296px;
}

.editor_button.active .h3:hover {
    background-position: 0px -1320px;
}

.h2 {
    background-position: 0px -1368px;
}

.h2:hover {
    background-position: 0px -1392px;
}

.editor_button.active .h2 {
    background-position: 0px -1416px;
}

.editor_button.active .h2:hover {
    background-position: 0px -1440px;
}

.h1 {
    background-position: 0px -1488px;
}

.h1:hover {
    background-position: 0px -1512px;
}

.editor_button.active .h1 {
    background-position: 0px -1536px;
}

.editor_button.active .h1:hover {
    background-position: 0px -1560px;
}

.ul {
    background-position: 0px -2352px;
}

.ul:hover {
    background-position: 0px -2376px;
}

.editor_button.active .ul {
    background-position: 0px -2400px;
}

.editor_button.active .ul:hover {
    background-position: 0px -2424px;
}

.ol {
    background-position: 0px -2232px;
}

.ol:hover {
    background-position: 0px -2256px;
}

.editor_button.active .ol {
    background-position: 0px -2280px;
}

.editor_button.active .ol:hover {
    background-position: 0px -2304px;
}
/*TODO do with hover and active*/
.unformat {
    background-position: 0px -2160px;
}

.unformat:hover {
    background-position: 0px -2184px;
}


.smiles {
    background-position: 0px -168px;
}

.smiles:hover {
    background-position: 0px -192px;
}

.editor_button.active .smiles {
    background-position: 0px -216px;
}

.text {
    background-position: 0px -264px;
}

.text:hover {
    background-position: 0px -288px;
}

.editor_button.active .text {
    background-position: 0px -312px;
}

.alignment {
    background-position: 0px -360px;
}

.alignment:hover {
    background-position: 0px -384px;
}

.editor_button.active .alignment {
    background-position: 0px -407px;
}

.hyperlinks {
    background-position: 0px -456px;
}

.hyperlinks:hover {
    background-position: 0px -480px;
}

.editor_button.active .hyperlinks {
    background-position: 0px -504px;
}

.images {
    background-position: 0px -552px;
}

.images:hover {
    background-position: 0px -576px;
}

.editor_button.active .images {
    background-position: 0px -600px;
}

.contentscreen {
    background-position: 0px -648px;
}

.contentscreen:hover, .contentscreen:active {
    background-position: 0px -672px;
}

.editor_button.active .contentscreen{
    background-position: 0px -840px;
}

.editor_button.active .contentscreen:hover {
    background-position: 0px -864px;
}
.increase-editor-height {
    background-position: 0px -720px;
}

.increase-editor-height:hover {
    background-position: 0px -744px;
}

.decrease-editor-height {
    background-position: 0px -792px;
}

.decrease-editor-height:hover {
    background-position: 0px -816px;
}
.align-left {
    background-position: 0px -2472px;
}

.align-left:hover {
    background-position: 0px -2496px;
}

.editor_button.active .align-left {
    background-position: 0px -2520px;
}

.align-center {
    background-position: 0px -2664px;
}

.align-center:hover {
    background-position: 0px -2688px;
}

.editor_button.active .align-center {
    background-position: 0px -2712px;
}

.align-right {
    background-position: 0px -2568px;
}

.align-right:hover {
    background-position: 0px -2592px;
}
.editor_button.active .align-right {
    background-position: 0px -2616px;
}

.indent {
    background-position: 0px -2928px;
}

.indent:hover {
    background-position: 0px -2952px;
}

.outdent {
    background-position: 0px -2856px;
}

.outdent:hover {
    background-position: 0px -2880px;
}
